[user]
	name = guitarrapc
	email = cherishacquire@outlook.com
[core]
	autocrlf = true
	excludesfile = C:\\Users\\i.yoshizaki\\Documents\\gitignore_global.txt
	quotepath = False
[gui]
    encoding = utf-8
[web]
	browser = google-chrome
[push]
	default = current
[credential]
	helper = wincred
[include]
	path = .gitconfig.local
[mergetool "vsdiffmerge"]
	trustExitCode = true
	cmd = 'C:/Program Files (x86)/Microsoft Visual Studio 14.0/Common7/IDE/vsdiffmerge.exe' $REMOTE $LOCAL $BASE $MERGED /m
[difftool "vsdiffmerge"]
	cmd = 'C:/Program Files (x86)/Microsoft Visual Studio 14.0/Common7/IDE/vsdiffmerge.exe' $LOCAL $REMOTE /t
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[column]
	ui = auto